.main-tintuc{
    display: grid;
    grid-template-columns: 73% 27%;
    background-color: rgb(243, 237, 237);
   
}
.main-tintuc img{
    width: 580px;
    height: 300px;

}
.the-a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* .sub-tintuc{
    display: grid;
    grid-template-columns: 36% 37% 27%;
} */
.news4 h5 {
    font-size: 19px;
}
.news4 h5:hover{
    color: blue;
}
#image-tintuc{
    width: 140px;
    height: 90px;
}
.tintuc-left{
    display: grid;
    grid-template-columns: 25% 75%;
}
.tintuc-left p{
    font-size: 14px;
    margin-left: 70px;
}
.nav-link{
    font-weight: bold;
    color: black;
}

#tintucphu{
    display: grid;
    grid-template-columns: 27% 37% 36%;

}
.row-tintuc{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 27% 37% 36%;
}
/* .sub-tintuc ul {
    list-style-type: none;
    font-weight: bold;
    padding-left: 10px;
    overflow: hidden;
    width: 100%;
    height: 40px;
    display: block;
  }
  .sub-tintuc  li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    text-align: center;
  } */
.sub-tintuc ul {
    display: inline-block;
}
.sub-tintuc ul li {
    list-style: none;
    display: inline-block;
}
.sub-tintuc ul li h5 a {
    text-decoration: none;
}